<!DOCTYPE html>
<html>
<head>
	<title>SyaraDz</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="Sihem Bouhenniche">
    <link rel="stylesheet" href="public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <script type="text/javascript" src="public/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
	<meta http-equiv="Pragma" content="no-cache" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<header class="header" id="ACCUEIL">
		<div class="container-fluid title-block">
			<h1 class="h1">Sayara<span style="color: #FFAB00">DZ</span></h1>
			<h6 class="h3-1">La vie est déjà assez dure. Rendons les choses un peu plus faciles.</h6>
			<div class="form-group">
				<button type="button" class="btn-lg btn btn-search">
				    Commencer
			  		<i class="fas fa-arrow-right fa-lg"></i>
		      	</button>
		    </div>

			<!--<div class="div-search">
				<div class="row">
				    <div class="col-sm-3 div-search-inter">
				    	<div class="dropdown">
						  	<button class="btn-dropdown btn btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown">
						  		<span class="yellow-text">Location</span><br>
					        	<span class="select-text">Kouba, Algiers</span>
					        </button>
						  	<ul class="dropdown-menu">
						    	<li><a href="#">HTML<i class="fas fa-angle-down"></i></a></li>
						    	<li><a href="#">CSS</a></li>
						    	<li><a href="#">JavaScript</a></li>
						  	</ul>
						</div>
				  	</div>
				  	<div class="col-sm-3 div-search-inter">
				    	<div class="dropdown">
						  	<button class="btn-dropdown btn btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown">
						  		<span class="yellow-text">Location</span><br>
					        	<span class="select-text">Kouba, Algiers</span>
					        </button>
						  	<ul class="dropdown-menu">
						    	<li><a href="#">HTML<i class="fas fa-angle-down"></i></a></li>
						    	<li><a href="#">CSS</a></li>
						    	<li><a href="#">JavaScript</a></li>
						  	</ul>
						</div>
				  	</div>
				  	<div class="col-sm-3 div-search-inter">
				    	<div class="dropdown">
						  	<button class="btn-dropdown btn btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown">
						  		<span class="yellow-text">Location</span><br>
					        	<span class="select-text">Kouba, Algiers</span>
					        </button>
						  	<ul class="dropdown-menu">
						    	<li><a href="#">HTML<i class="fas fa-angle-down"></i></a></li>
						    	<li><a href="#">CSS</a></li>
						    	<li><a href="#">JavaScript</a></li>
						  	</ul>
						</div>
				  	</div>
				  	<div class="col-sm-3 div-search-inter">
				    	<div class="form-group">
				      	<button type="button" class="btn-lg btn btn-search btn-block">
				      		Full-Width Button
				      		<i class="fas fa-location-arrow"></i>
				      	</button>
				    	</div>
				  	</div>
				</div>
			</div>-->
		</div>
		<div class="container-fluid num-block">
			<div class="row">
				<div class="col-sm-4 num">
					<h1>1000</h1>
					<span>Voitures exposées</span>
				</div>
				<div class="col-sm-4 num">
					<h1>250</h1>
					<span>Voitures vendus</span>
				</div>
				<div class="col-sm-4 num">
					<h1>43</h1>
					<span>Partenaires</span>
				</div>
			</div>
		</div>
	</header>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  	<div class="row container-fluid">
	  		<div class="col-sm-2"></div>
	  		<div class="col-sm-10">
	  			<ul class="navbar-nav">
			    	<li class="nav-item">
			      		<a class="navbar-brand brand" href="index.html">Sayara</a>
			    	</li>
			    	<li style="width: 100px;"></li>
			    	<li class="nav-item">
			      		<a class="nav-link active" href="#ACCUEIL">ACCUEIL</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#MISSION">MISSION</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#">TARIFS</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#">SERVICES</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#">CONTACTS</a>
			    	</li>
			    	<li style="width: 100px;"></li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#"><i class="fas fa-lock-open"></i> LOGIN </a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#">FR<i class="arrow down"></i> </a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#">DZ<i class="arrow down"></i></a>
			    	</li>
	  			</ul>
	  		</div>
	  	</div>
	</nav>
	<div class="container-fluid" style="background-color: #EEEEEE;">
		<div class="block" id="MISSION">
			<div class="card">
		  		<div class="card-body">
				    <h4 class="card-title">Notre Mission</h4>
				    <div class="row">
				    	<div class="col-sm-8">
				    		<div style="width: 100px; border: 1px solid #FFAB00; margin-bottom: 50px;"></div>
				    		<p class="card-text">
						    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<h6 class="card-subtitle mb-2 text-muted">
								<span style="color: #000;">Brasion Mike</span> CEO Founder
							</h6>
				    	</div>
				    	<div class="col-sm-4">
				    		<img src="public/img/car1.jpg" height="300">
				    	</div>
				    </div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row" style="margin-top: 40px;">
			<div class="col-sm-2"></div>
			<div class="col-sm-6">
				<h2 class="card-title">
					Top Voitures
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5" style="border-right: 1px solid #BDBDBD;">
				<ul class="nav justify-content-center">
					<li class="nav-item">
					    <a class="nav-link" style="color: #000!important;" href="#">TOP POPULAIRE</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link disabled" style="color: #6c757d!important;" href="#">|</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link disabled" style="color: #6c757d!important;" href="#">NOUVEAUX</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link disabled" style="color: #6c757d!important;" href="#">|</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link disabled" style="color: #6c757d!important;" href="#">VENDUES</a>
					</li>
				</ul>
				<div class="cards" style="margin-top: 40px; margin-left: 40px;margin-right: 40px;">
					<div class="card" style="box-shadow: none!important; border: none; background-color: #eee;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #FFAB00;">
					    			<img src="public/img/car3.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
					<div class="card" style="box-shadow: none!important; border: none;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #64B5F6;">
					    			<img src="public/img/car2.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
					<div class="card" style="box-shadow: none!important; border: none;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #E6EE9C;">
					    			<img src="public/img/car4.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
					<div class="card" style="box-shadow: none!important; border: none; background-color: #eee;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #FFAB00;">
					    			<img src="public/img/car3.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
					<div class="card" style="box-shadow: none!important; border: none;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #64B5F6;">
					    			<img src="public/img/car2.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
					<div class="card" style="box-shadow: none!important; border: none;padding: 10px;">
					  	<div class="card-body">
					    	<div class="row">
					    		<div class="col-sm-4" style="background-color: #E6EE9C;">
					    			<img src="public/img/car4.png" height="60" style="margin-top: 25px;">
					    		</div>
					    		<div class="col-sm-8">
					    			<h5>Red car sport 2018</h5>
					    	    	<p class="card-text text-muted">
					    	    		Some example text. Some example text.
					    	    	</p>
					    	    	<p class="text-muted" style="font-size: 16px;">
					    	    		5000000 DA
					    	    	</p>
					    		</div>
					    	</div>
					  	</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7" style="padding-top: 60px; text-align: center;position: relative;">
				<h5>Red Car Sport 2018</h5>
				<div style="background-color: #FFAB00;  position: absolute; top: 150px; height: 300px;width: 500px; left: 20%; z-index: -5;"></div>
				<img src="public/img/car3.png" style="margin-top: 50px;">
				<div class="row" style="margin-top: 60px; font-size: 14px; padding-left: 10px;padding-right: 10px;">
					<div class="col-sm-4">
						<i class="fas fa-suitcase" style="color: #757575;"></i> 2 Largs Bags
					</div>
					<div class="col-sm-4">
						<i class="fas fa-tachometer-alt" style="color: #757575;"></i> 08/12 mpg
					</div>
					<div class="col-sm-4">
						Prix de base : <span class="text-danger">5000000 DA</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="background-color: #EEEEEE; text-align: center; padding-bottom: 60px;" id="TARIFS">
		<div class="row" style="padding: 40px 110px;">
			<div class="col-sm-3" style="color: #ccc;"><i class="fab fa-adn fa-5x"></i></div>
			<div class="col-sm-3" style="color: #000;"><i class="fab fa-aviato fa-5x"></i></div>
			<div class="col-sm-3" style="color: #ccc;"><i class="fab fa-fantasy-flight-games fa-5x"></i></div>
			<div class="col-sm-3" style="color: #ccc;"><i class="fab fa-accusoft fa-5x"></i></div>
		</div>
		<div  style="margin-top: 40px;">
			
				<h2 class="card-title">
					Tarifs
				</h2>
			
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-body">
				    		<h4 class="card-title" style="font-weight: 400; margin-bottom: 40px;">BASIC</h4>
						    <div class="row">
						    	
						    	<div class="col-sm-12">
						    		<p class="card-text" style="font-weight: 400;text-align: justify-all; font-size: 16px;">
								    	Consectetur adipisicing elit, sed do eiusmodtempor onsectetur adipisicing elit, sed do eiusmodtempor. 
									</p>
									<h6 style="margin-top: 40px; margin-bottom: 40px;">Fonctionnalités: </h6>
									<ul class="list-group list-group-flush" style="text-align: left;">
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Cras justo odio</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Dapibus ac facilisis in</li>
									  <li class="list-group-item"><i class="fas fa-times-circle" style="color: #dc3545"></i> Morbi leo risus</li>
									  <li class="list-group-item"><i class="fas fa-times-circle" style="color: #dc3545"></i> Porta ac consectetur ac</li>
									  <li class="list-group-item"><i class="fas fa-times-circle" style="color: #dc3545"></i> Vestibulum at eros</li>
									</ul>
									<h6 class="card-subtitle mb-2 text-muted">
										<div>
											<h3>10 000 DA/MOIS</h3>
										</div>
									</h6>
									<button type="button" class="btn-lg btn btn-search">
									    Commencer
								  		<i class="fas fa-arrow-right fa-lg"></i>
							      	</button>
						    	</div>
						    </div>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-body">
				    		<h4 class="card-title" style="font-weight: 400; margin-bottom: 40px;">BASIC</h4>
						    <div class="row">
						    	
						    	<div class="col-sm-12">
						    		<p class="card-text" style="font-weight: 400;text-align: justify-all; font-size: 16px;">
								    	Consectetur adipisicing elit, sed do eiusmodtempor onsectetur adipisicing elit, sed do eiusmodtempor. 
									</p>
									<h6 style="margin-top: 40px; margin-bottom: 40px;">Fonctionnalités: </h6>
									<ul class="list-group list-group-flush" style="text-align: left;">
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Cras justo odio</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Dapibus ac facilisis in</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Morbi leo risus</li>
									  <li class="list-group-item"><i class="fas fa-times-circle" style="color: #dc3545"></i> Porta ac consectetur ac</li>
									  <li class="list-group-item"><i class="fas fa-times-circle" style="color: #dc3545"></i> Vestibulum at eros</li>
									</ul>
									<h6 class="card-subtitle mb-2 text-muted">
										<div>
											<h3>15 000 DA/MOIS</h3>
										</div>
									</h6>
									<button type="button" class="btn-lg btn btn-search">
									    Commencer
								  		<i class="fas fa-arrow-right fa-lg"></i>
							      	</button>
						    	</div>
						    </div>
					  	</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		  				<div class="card-body">
				    		<h4 class="card-title" style="font-weight: 400; margin-bottom: 40px;">BASIC</h4>
						    <div class="row">
						    	
						    	<div class="col-sm-12">
						    		<p class="card-text" style="font-weight: 400;text-align: justify-all; font-size: 16px;">
								    	Consectetur adipisicing elit, sed do eiusmodtempor onsectetur adipisicing elit, sed do eiusmodtempor. 
									</p>
									<h6 style="margin-top: 40px; margin-bottom: 40px;">Fonctionnalités: </h6>
									<ul class="list-group list-group-flush" style="text-align: left;">
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Cras justo odio</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Dapibus ac facilisis in</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Morbi leo risus</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Porta ac consectetur ac</li>
									  <li class="list-group-item"><i class="fas fa-check-circle" style="color: #1e7e34"></i> Vestibulum at eros</li>
									</ul>
									<h6 class="card-subtitle mb-2 text-muted">
										<div>
											<h3>30 000 DA/MOIS</h3>
										</div>
									</h6>
									<button type="button" class="btn-lg btn btn-search">
									    Commencer
								  		<i class="fas fa-arrow-right fa-lg"></i>
							      	</button>
						    	</div>
						    </div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services">
		<div class="container">
			<div  style="margin-top: 40px; text-align: center;">
				<h2 class="card-title">
					Tarifs
				</h2>
			</div>
			<div class="row icon_boxes_row">
				
				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Cardiology</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Gastroenterology</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Medical Lab</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Dental Care</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Surgery</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-xl-4 col-lg-6" style="padding : 40px;">
					<div class="icon_box">
						<div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
							<div class="icon_box_icon"></div>
							<div class="icon_box_title">Neurology</div>
						</div>
						<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem maximus malesuada lorem maximus mauris.</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col" style="text-align: center;">
					<button type="button" class="btn-lg btn btn-search">
						Voir plus
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="margin-top: 40px;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="background-color: #adb0b2; padding: 20px;">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="card-title">Footer Content</h5>
          <p class="card-text">Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:#343a40; color:#fff">© 2018 Copyright:
      <a href="#" style="color: #FFAB00"> newvision.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</body>
</html>