<div class="container-fluid mb-5 pb-5" style="background-color: #EEEEEE;">
		<div class="row" id="MISSION">
			<div class="col-sm-2"></div>
      <div class="col-sm-8 mt-5">
        <div class="card box-shadow card-mission">
  		  		<div class="card-body">
  				    <h4 class="card-title">{{title}}</h4>
  				    <div class="row">
  				    	<div class="col-sm-12 col-lg-7 col-xl-8">
  				    		<div style="width: 100px; border: 1px solid #FFAB00; margin-bottom: 50px;"></div>
  				    		<p class="card-text">
  						    	{{content}}
  							</p>
  							<h6 class="card-subtitle mb-2 text-muted">
  								<span style="color: #000;">{{author}}</span> {{role}}
  							</h6>
  				    	</div>
  				    	<div class="col-lg-5 col-xl-4 d-none d-sm-none d-md-none d-lg-block">
  				    		<img src="../../assets/car1.jpg" height="300">
  				    	</div>
  				    </div>
  			  	</div>
  			</div>
      </div>
      <div class="col-sm-2"></div>
		</div>
	</div>
