<div class="container pt-5">
    <app-page-header [heading]="'Créer Fabricant'" [icon]="'fa-plus'"></app-page-header>
    <div class="d-flex justify-content-center">
        <mat-spinner class="mt-5"  [hidden]="!loading"></mat-spinner>
    </div>
    <div class="row" [hidden]="loading">
        <div class="col-lg-12">
          <app-notification class="ma-2" [error] = "error"></app-notification>
          <mat-horizontal-stepper linear="false" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                  <ng-template matStepLabel>fabricant</ng-template>
                  <form [formGroup]="firstFormGroup">
                    <div class="d-flex flex-column">
                      <h5>Informations générales :</h5>
                      <div class="row">
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input formControlName="fabricant" matInput placeholder="Nom de fabricant" />
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input formControlName="addressFabricant" matInput placeholder="Adresse de fabricant" />
                          </mat-form-field>
                        </div>
                      </div>

                      <br>
                      <h5>Choisir un logo de la marque :</h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <fieldset class="form-group">
                              <input
                                #file
                                type="file"
                                formControlName="logoFabricant"
                                class="form-control"
                                accept="image/jpeg,image/png"
                                (change)="onFileChange($event)"
                                required
                                style="display : none">
                          </fieldset>
                          <button mat-raised-button (click) = "addFiles()">Choisir un logo du fabricant</button>
                        </div>
                        <div class="col-sm-6 d-flex flex-column">
                          <fieldset class="form-group">
                              <img [src]=logo alt="Aucun logo choisie" height="200px" width="200px">
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    <br>
                    <button mat-raised-button color="primary" matStepperNext>Suivant</button>
                  </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                  <ng-template matStepLabel>Utilisateur(optionel)</ng-template>
                  <form [formGroup]="secondFormGroup">
                    <div class="d-flex flex-column">
                      <h5>Informations personnelles :</h5>
                      <div class="row">
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Nom"  formControlName="username"/>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Prénom" formControlName="usersurname" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Email" type="email" formControlName="email" />
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Phone" formControlName="phone" />
                          </mat-form-field>
                        </div>
                      </div>

                      <mat-form-field>
                        <input matInput placeholder="Address" formControlName="address"/>
                      </mat-form-field>
                      <br>
                      <h5>Choisir un mot de passe :</h5>
                      <div class="row">
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Mot de passe" type="password" formControlName="password"/>
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 d-flex flex-column">
                          <mat-form-field>
                            <input matInput placeholder="Confirmer le mot de passe" type="password" formControlName="confirmPassword"/>
                          </mat-form-field>
                        </div>
                      </div>
                      <br>
                      <h5>Informations générales :</h5>
                      <mat-form-field>
                        <input matInput type="text" [value]="getFabricantName()"  placeholder="Fabricant" formControlName="fabricant" required/>
                      </mat-form-field>
                    </div>
                    <br>
                    <button class="mx-2" mat-raised-button color="warn" matStepperPrevious>Retour</button>
                    <button class="mx-2" mat-raised-button color="primary" matStepperNext>Suivant</button>
                  </form>
              </mat-step>
              <mat-step>
                  <ng-template matStepLabel>Valider</ng-template>
                  <h3>Valider la création</h3>
                  <button class="mx-2" mat-raised-button color="warn" matStepperPrevious>Retour</button>
                  <button class="mx-2" mat-raised-button color="primary" matStepperNext mat-button (click)="onSubmit()">Valider la création</button>
              </mat-step>
          </mat-horizontal-stepper>
        </div>
    </div>
    <!-- /.row -->
</div>
