<div class="container pt-5" >
  <app-page-header [heading]="infoPage.title" [icon]="infoPage.icon"></app-page-header>
  <div class="d-flex justify-content-center">
      <mat-spinner class="mt-5"  [hidden]="!loading"></mat-spinner>
  </div>
  <mat-card class="example-card mb-5" [hidden]="loading">
    <mat-card-content>
      <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column">
          <h5>Informations personnelles :</h5>
          <div class="row">
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Nom"  formControlName="username"/>
                <mat-error *ngFor="let validation of account_validation_messages.username">
                  <mat-error class="error-message" *ngIf="userFormGroup.get('username').hasError(validation.type) && (userFormGroup.get('username').dirty || userFormGroup.get('username').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Prénom" formControlName="usersurname" />
                <mat-error *ngFor="let validation of account_validation_messages.usersurname">
                  <mat-error class="error-message" *ngIf="userFormGroup.get('usersurname').hasError(validation.type) && (userFormGroup.get('usersurname').dirty || userFormGroup.get('usersurname').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email" />
                <mat-error *ngFor="let validation of account_validation_messages.email">
                  <mat-error class="error-message" *ngIf="userFormGroup.get('email').hasError(validation.type) && (userFormGroup.get('email').dirty || userFormGroup.get('email').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Phone" formControlName="phone" />
                <mat-error *ngFor="let validation of account_validation_messages.phone">
                  <mat-error class="error-message" *ngIf="userFormGroup.get('phone').hasError(validation.type) && (userFormGroup.get('phone').dirty || userFormGroup.get('phone').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field>
            <input matInput placeholder="Address" formControlName="address"/>
            <mat-error *ngFor="let validation of account_validation_messages.address">
              <mat-error class="error-message" *ngIf="userFormGroup.get('address').hasError(validation.type) && (userFormGroup.get('address').dirty || userFormGroup.get('address').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <br>
          <h5>Choisir un mot de passe :</h5>
          <div class="row">
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Mot de passe" type="password" formControlName="password"/>
              </mat-form-field>
            </div>
            <div class="col-sm-6 d-flex flex-column">
              <mat-form-field>
                <input matInput placeholder="Confirmer le mot de passe" type="password" formControlName="confirmPassword"/>
              </mat-form-field>
            </div>
          </div>
          <br>
          <h5>Informations générales :</h5>
          <mat-form-field>
            <input matInput placeholder="Fabricant" type="text" formControlName="fabricant" [value]=fabricant.brand />
          </mat-form-field>
        </div>
        <div class="d-flex flex-row-reverse">
          <button type = "submit" mat-flat-button class="btn-search">Créer utilisateur</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
