  <div class="container-dialog">
    <h2 mat-dialog-title>
      Contrat d'engagement et de gestion de ventes sur SayaraDz
      <div class="underline"></div>
    </h2>

    <mat-dialog-content class="mat-typography">
      Entre les soussignés :
        La société <b>{{website.title}}</b>, <b>[{{website.forme}}]</b> au capital de <b>{{website.capital}}</b> DA, dont le siège social est à <b>{{website.address}}</b>, enregistrée au Registre du Commerce et des Sociétés de <b>{{website.type}}</b> sous le numéro <b>{{website.number}}</b>, Représentée par M. <b>{{website.ceo}}</b> Directeur et manager,
        ci-après désignée « le Client », d'une part,
        <br>
        et
        <br>
        La société <b>{{factory.title}}</b>, Société <b>[{{factory.forme}}]</b> au capital de <b>{{factory.capital}}</b> DA, dont le siège social est à <b>{{factory.address}}</b>, enregistrée au Registre du Commerce et des Sociétés de <b>{{factory.type}}</b> sous le numéro <b>{{factory.number}}</b>, représentée par M. <b>{{factory.ceo}} Directeur et manager</b>,
        ci-après dénommée « le » ou « les Concepteurs »,
        d'autre part,
        Il a été convenu ce qui suit :
        Préambule
        Attendu que le Concepteur dispose d'une grande expérience dans la réalisation et la maintenance de sites web pour des tiers;
        Attendu que le Client souhaite voir réaliser un site web pour son usage personnel, et que le Concepteur souhaite réaliser ce travail ;
        Attendu, que le Client fait appel à une autre compagnie pour héberger ledit site ;
        En fait de quoi, les parties sont tombées d'accord sur ce qui suit :
        <br>
        Article Premier – Définitions
        <br>
        1.1 BÊTA VERSION signifie une version du site web enregistrée prête à l'emploi sur ce moyen de communication accompagnée de logiciels et des bases de données, qui a été vérifiée par le Concepteur avant la mise à disposition dudit site. Le Concepteur considérant de bonne foi cette version sans « bug » et conforme aux dispositions figurant en annexe ;
        <br>
        1.2 FOURNITURE CLIENT signifie les éléments fournis par le Client devant être incorporés dans le site web, détaillés en l'annexe « C » ;
        <br>
        1.3 PROGRAMME DE CONCEPTION : il sera détaillé dans l'annexe « B » du présent accord qui énumère les éléments utiles à la conception du site web ainsi que la date limite de sa mise à disposition. « Modalités de paiement » détaillées dans l'annexe « B ».
        <br>
        1.4 OUTILS CONCEPTEUR signifie les outils du logiciel d'application générale qui sont utilisés pour la réalisation du site web et que le concepteur détient, soit en tant que propriétaire, soit par licence ;
        <br>
        1.5 DOCUMENTATION signifie la documentation du progiciel réalisée par le Concepteur spécialement pour le site web et tout autre élément utile à la réalisation du site web. Les éléments source font partie de la documentation ;
        <br>
        1.6 PERFECTIONNEMENT signifie tout perfectionnement apporté au site web, toute nouvelle caractéristique ou tout ajout de nouveaux éléments. Perfectionnement inclura les modifications en termes de contenu du site web pour le faire fonctionner dans un Server System d'un nouveau ISP (Voir 1.9) ;
        <br>
        1.7 ERREUR signifie tout disfonctionnement du site web par rapport aux spécifications du système ;
        <br>
        1.8 VERSION FINALE signifie une version originale protégée de la version finale du site web, enregistrée prête à l'emploi sur ce moyen de communication accompagnée de logiciels et des bases de données et des corrections apportées à la Bêta Version.
        <br>
        1.9 ISP (Internet Service Provider) signifie un prestataire de services Internet qui héberge le site web sur le World Wide Web. L'ISP est susceptible de changer de temps en temps ;
        <br>
        1.10 SPÉCIFICATIONS DU WEB SITE : se référer à l'annexe « A » du présent contrat.
        <br>
        1.11 INFORMATION SOURCE signifie :
        <br>
        a) toute documentation, note, assistance à la réalisation, documentation technique et tout autre document apporté au concepteur par le Client, utile à la réalisation du site web,
        <br>
        b) tout code source, documentation, notes et tout autre élément produit ou créé par le concepteur pendant la réalisation du site web ;
        <br>
        1.12 SERVEUR signifie le disque dur et le logiciel appartenant ou sous licence ISP ;
        <br>
        1.13 CONTENU DU SITE WEB signifie l'utilisation graphique interface, le texte, images, musiques et tout autre élément du site web réalisé par le concepteur au terme de ce contrat qui est visible dans le browser World Wide Web et dans le logiciel (notamment les scripts CGI et PERL-SCRIPTS) réalisé par le concepteur selon les dispositions du présent contrat.
        <br><br>
        Le Contenu du Site Web ne contiendra pas les « outils concepteur ».
        <br><br>
        1.14 SITE WEB signifie le site à réaliser pour le Client sur la partie graphique d'Internet connue sous le nom de World Wide Web décrit dans Spécifications.
        <br>
        Article 2 - Conception et mise à disposition des éléments de conception du site web
        <br>
        2.1 CONCEPTION : Rapport d'avancement. Le Concepteur utilisera les règles de l'art pour développer les éléments de conception conformément aux Spécifications. Le concepteur préparera tout d'abord un graphisme pour le site web. Ce graphisme comprendra des dessins pour l'utilisation interface, un schéma de navigation du site web, une arborescence des hyper liens et des autres composants. La conception du site web sera assurée par le concepteur ou ses employés chez le concepteur lui-même ou ses sous-traitants ayant la confiance du client. Le Concepteur accepte par là même que toute réalisation pour l'un quelconque des sous-traitants nécessite au préalable l'accord du Client.
        <br>
        La semaine suivant la réalisation des travaux, et/ou si le test n'est pas probant ou quelle que soit la demande raisonnable du Client, le Concepteur s'adressera au mandataire du client et lui fera part de l'avancement des travaux et de tout disfonctionnement relatif à la réalisation et au test du site web. Dans cette perspective, le Concepteur voudra bien conseiller précisément le client sur les recommandations et changements à opérer sur les tâches restant à exécuter conformément aux règles de l'art et l'expérience du Concepteur.
        <br>
        Toutes contestations qui découlent du présent contrat ou qui s'y rapporte seront tranchées définitivement suivant le règlement de Conciliation et d'Arbitrage de la Chambre de Commerce Internationale à Paris sans aucun recours aux tribunaux ordinaires par un ou plusieurs arbitres nommés conformément à ce règlement et dont la sentence a un caractère obligatoire. Le tribunal arbitral sera juge de sa propre compétence et de la validité de la convention d'arbitrage.

        Fait le {{date}} à {{place}} en 6 (six) exemplaires.
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close color = "primary">Fermer</button>
    </mat-dialog-actions>
  </div>
