  <div class="container-dialog">
    <h2 mat-dialog-title class="underline">{{title}}</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="firstFormGroup">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">

            <mat-form-field appearance="outline" style="width : 100%">
              <mat-label> Nom </mat-label>
              <input formControlName="name" matInput placeholder="Nom">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width : 100%">
              <mat-label> Valeur</mat-label>
              <input formControlName="value" matInput placeholder="Valeur">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width : 100%">
              <mat-label> Prix</mat-label>
              <input formControlName="price" matInput placeholder="500.00">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button  color = "primary" (click) = "onConfirm()">Confirmer</button>
      <button mat-raised-button mat-dialog-close color = "accent">Annuler</button>
    </mat-dialog-actions>
  </div>
