<div>
      <mat-menu #notificationMenu="matMenu">
        <button mat-menu-item class="a-item" href="#">Action</button>
        <button mat-menu-item class="a-item" href="#">Another action</button>
        <button mat-menu-item class="a-item" href="#">Something else here</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="a-item">
         <mat-icon matBadge="8" matBadgePosition="before" matBadgeColor="accent">notification_important</mat-icon>
     </button>
    <button mat-icon-button class="a-item" (click)="logout()">
        <mat-icon><i class="fa fa-fw fa-power-off"></i></mat-icon>
    </button>
</div>
