.box-shadow-hover{
  	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12) !important;
}
.btn-no-border{
  border: none;
  border-radius: 0px;
}
.form-input{
  border-radius: 0px;
  width: 300px;
  border: none;
}
.notification-icon{
  position: relative;
}
.notification-badge{
  position: absolute;
  top: 3px;
  left: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-full-width {
  width: 300px;
}
