$topnav-background-color: #F7F0F0;
$primary : #fa5f1a;

h4{
  font-weight: 700;
  color: $primary;
}
.example-card{
  text-align: center;
}

:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    background: $topnav-background-color;


}
