<div class="login-page">
    <div class="row justify-content-sm-center mt-5">
        <div class="d-flex justify-content-center">
            <mat-spinner [hidden]="!loading" class="mt-5"></mat-spinner>
        </div>
        <div class="col-sm-5" [hidden]="loading">
          <app-notification [error] = "error"></app-notification>
          <mat-card class="example-card">
            <mat-card-content>
              <h4>CONNEXION</h4>
              <h6>Connectez vous à votre compte</h6>
              <img src="../assets/images/logo.png" alt="Logo SAYARADZ" width="200"/>
              <form [formGroup]="loginFormGroup">
                <mat-form-field appearance="outline" style="width : 100%">
                  <mat-label>Entrez votre address e-mail</mat-label>
                  <input matInput placeholder="xxx@yyy.zzz" type="text" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width : 100%">
                  <mat-label>Entrez votre mot de passe</mat-label>
                  <input matInput placeholder="********" type="password" formControlName="password">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" (click) = "onSubmit()">Se connecter</button>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>
