  <div class="container-dialog">
    <h2 mat-dialog-title>Modifier Modele</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="firstFormGroup">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">
            <h5>Créer un nouveau modéle :</h5>
            <mat-form-field>
              <input formControlName="nameModele" matInput placeholder="Nom du modéle" />
            </mat-form-field>
            <h6>Veuillez introduire la liste des couleurs disponibles ainsi que les versions: </h6>
            <div class="row">
              <div class="col-sm-5">
                <mat-form-field>
                  <input formControlName="name" matInput placeholder="Nom de la couleur" />
                </mat-form-field>
              </div>
              <div class="col-sm-5">
                <mat-form-field>
                  <input formControlName="value" matInput placeholder="La valeur de la couleur" />
                </mat-form-field>
              </div>
              <div class="col-sm-2">
                <button mat-icon-button color="primary" (click) = "onCreateCouleur()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <mat-list>
              <h3 mat-subheader>Couleurs</h3>
              <mat-list-item *ngFor="let couleur of couleurs, let i =index">
                <mat-icon mat-list-icon style="color : #228B22">check_circle</mat-icon>
                <h4 mat-line>{{couleur.name}}</h4>
                <p mat-line> {{couleur.value}} </p>
                <button mat-icon-button color="warn" (click) = "onDeleteCouleur(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            <div class="row">
              <div class="col-sm-2">
                <button mat-raised-button  color="primary" (click) = "onCreateVersion()">
                  Créer une version
                </button>
              </div>
            </div>
            <mat-list>
              <h3 mat-subheader>Versions</h3>
              <mat-list-item *ngFor="let version of versions, let i =index">
                <mat-icon mat-list-icon style="color : #228B22">check_circle</mat-icon>
                <h4 mat-line>{{version.name}}</h4>
                <p mat-line> {{version.value}} </p>
                <button mat-icon-button color="warn" (click) = "onDeleteVersion(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            <div class="row">
              <div class="col-sm-6">
                <fieldset class="form-group">
                    <input
                      #file
                      type="file"
                      formControlName="modeleImage"
                      class="form-control"
                      accept="image/jpeg,image/png"
                      (change)="onFileChange($event)"
                      required
                      style="display : none">
                </fieldset>
                <button mat-raised-button (click) = "addFiles()">Choisir un logo du fabricant</button>
              </div>
              <div class="col-sm-6 d-flex flex-column">
                <fieldset class="form-group">
                    <img [src]=linkImage alt="Aucun logo choisie" height="200px" width="200px">
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button  color = "primary" (click) = "onConfirm()">Confirmer</button>
      <button mat-raised-button mat-dialog-close color = "warn">Annuler</button>
    </mat-dialog-actions>
  </div>
