  <div class="container-dialog">
    <h2 mat-dialog-title>Modifier fabriquant</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="firstFormGroup">
        <div class="d-flex flex-column">
          <mat-form-field>
            <input formControlName="fabricant" matInput placeholder="Nom de fabricant" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="addressFabricant" matInput placeholder="Adresse de fabricant" />
          </mat-form-field>
          <fieldset class="form-group">
              <input
                #file
                type="file"
                formControlName="logoFabricant"
                class="form-control"
                accept="image/jpeg,image/png"
                (change)="onFileChange($event)"
                required
                style="display : none">
          </fieldset>
          <button mat-raised-button (click) = "addFiles()">Choisir un logo du fabricant</button>
          <fieldset class="form-group">
              <img [src]=logo alt="" height="200px" width="200px">
          </fieldset>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button  color = "primary" (click) = "onConfirm()">Confirmer</button>
      <button mat-raised-button mat-dialog-close color = "warn">Annuler</button>
    </mat-dialog-actions>
  </div>
