  <div class="container-dialog">
    <h2 mat-dialog-title class="underline">
      Modifier fabricant
    </h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="firstFormGroup">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">
            <h5>Informations générales :</h5>
            <div class="row">
              <div class="col-sm-6 d-flex flex-column">
                <mat-form-field appearance="outline" style="width : 100%">
                  <mat-label> Nom de fabricant </mat-label>
                  <input formControlName="fabricant" matInput [value]="data.fabricant.brand" placeholder="Nom de fabricant" />
                </mat-form-field>
              </div>
              <div class="col-sm-6 d-flex flex-column">
                <mat-form-field appearance="outline" style="width : 100%">
                  <mat-label> Nom de fabricant </mat-label>
                  <input formControlName="addressFabricant" matInput placeholder="Adresse de fabricant" />
                </mat-form-field>
              </div>
            </div>

            <br>
            <h5>Choisir un logo de la marque :</h5>
            <div style = "text-align : center">
                <fieldset class="form-group">
                    <input
                      #file
                      type="file"
                      formControlName="logoFabricant"
                      class="form-control"
                      accept="image/jpeg,image/png"
                      (change)="onFileChange($event)"
                      required
                      style="display : none">
                </fieldset>
                <button mat-raised-button color="primary" (click) = "addFiles()">Choisir un logo du fabricant</button>
                <br>
                <br>
                <fieldset class="form-group">
                    <img [src]=logo alt="Aucun logo choisie" height="200px" width="200px">
                </fieldset>

            </div>
            <br>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button  color = "primary" (click) = "onConfirm()">Confirmer</button>
      <button mat-raised-button mat-dialog-close color = "accent">Annuler</button>
    </mat-dialog-actions>
  </div>
