.box-shadow{
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12) !important;
}
.card-tarif{
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	z-index: 5;
}
.card-tarif .card-title{
	font-weight: 300;
  &:after {
  	content: ".";
  	color: #FFAB00;
  }
}
.card-tarif .card-text{
	font-weight: 200;
	text-align: justify;
	font-size: 12px;
}
.card-tarif .card-subtitle{
	padding-top: 60px;
}
.btn-search{
  border-radius: 0 !important;
	background-color: #FFAB00;
	color: #fff;
	font-size: 16px!important;
	margin-top: 10px;
	padding: 20px 10!important;
	transition: background-color 1s ease;
}
.btn-search:hover{
	background-color: #ffc000;
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12) !important
}
