<div class="">
  <h4>Les {{title}} de {{id}}</h4>
  <div class="d-flex justify-content-center">
      <mat-spinner [hidden]="!loading" class="mt-5"></mat-spinner>
  </div>
  <div class="" [hidden]="loading">
    <app-notification class="ma-2" [error] = "error"></app-notification>
    <div class="row">
      <div class="col-lg-4 mb-2" *ngFor = "let element of adminsfabricants, let j = index">
        <app-display-card-user [user] = "element" [index] = "j"></app-display-card-user>
      </div>
    </div>
  </div>
</div>
