<header class="header">
		<div class="container-fluid title-block">
			<img src="../../../assets/images/full-ogo.png" alt="" width = "200">
			<h6 class="h3-1">{{header.citation}}</h6>
			<div class="form-group">
				<button type="button" mat-raised-button routerLink="dashboard" color = "primary">
				    Connexion
			  		<i class="fas fa-arrow-right fa-lg"></i>
		      	</button>
		    </div>
		</div>
		<div class="container-fluid num-block">
			<div class="row">
				<div class="col-sm-4 num" *ngFor="let obj of header.statics">
					<h1>{{obj.number}}</h1>
					<span>{{obj.content}}</span>
				</div>
			</div>
		</div>
</header>
