<nav class="sidebar">
    <div class="list-group" id="accordion">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{fullName}}</mat-card-title>
          <mat-card-subtitle><mat-icon color= "primary"><i class="fas fa-award"></i></mat-icon> {{type}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <a  class="list-group-item" *ngFor= "let link of links" [routerLink]=link.route >
        <i [className]=link.icon></i>&nbsp;
        <span>{{link.header}}</span>
      </a>
    </div>
</nav>
