$topnav-background-color: #fff;
.sidebar {
  overflow-y: auto;
  background-color: $topnav-background-color;
    .list-group {
        width: 100%;
        height: 100%;
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #000;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            border-left: 4px solid #FFAB00;
            i{
              color : #FFAB00;
            }
        }
        a.router-link-active {
            background: darken($topnav-background-color, 5%);
        }
        .header-fields {
            padding-top: 10px;

            > .list-group-item:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}
