<div class="container pt-5">
    <app-page-header [heading]="'Gestion des admnistrateur fabricants'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-sm-8">
                      <mat-form-field style="width : 100%">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput placeholder="Fabricant..." />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4" style = "text-align:right">
                      <mat-form-field>
                        <mat-label>Critéres</mat-label>
                        <mat-select matNativeControl required>
                          <mat-option value="marque">Marque</mat-option>
                          <mat-option value="pays">Pays</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <button class="mx-2" mat-icon-button color="primary">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body table-responsive">
                  <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
