<div class="container pt-5">
    <app-page-header [heading]="'Liste des fabricants'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Liste des fabricants
                </div>
                <div class="card-body table-responsive">
                  <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
