@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700');
.header{
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background:
	/* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0,0,0, 0.45),
      rgba(0,0,0, 0.45)
    ),
    /* bottom, image */
	url('../../assets/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 700px;
  font-family: 'Montserrat'!important;
	position: relative;
}
.title-block{
	background:
	/* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(52,58,64, 0.8),
      rgba(52,58,64, 0.8)
    );
    margin-top: 15%;
    padding: 20px;
    position: absolute;
    top: 0;
    text-align: center;
}
.num-block{
    padding: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.h1-1,.h3-1{
	width: 100%;
	text-align: center;
	color: #fff!important;
}
.div-search{
	margin-left: 10%;
	margin-right: 10%;
}
button{
	border-radius: 0 !important;
}
.btn-search{
	background-color: #FFAB00;
	color: #fff;
	font-size: 16px!important;
	margin-top: 10px;
	padding: 20px 10!important;
}
