/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'custom-theme.scss';
html,body{
    min-height: 100vh;
}

.a-item:hover{
  border-left: 4px solid #ff5722s;
  i{
    color : #ff5722s;
  }
}
.btn-search{
  border-radius: 0 !important;
	background-color: #FFAB00;
	color: #fff;
	font-size: 16px!important;
	margin-top: 10px;
	padding: 20px 10!important;
	transition: background-color 1s ease;
}
.btn-search:hover{
	background-color: #ffc000;
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12) !important
}
