<div class="m-0 p-0">
  <mat-toolbar color = "primary" class="box-shadow">
      <a class="navbar-brand mx-5" href="#" style="color:#fff">SayaraDZ</a>
      <span class="example-spacer"></span>
      <a mat-button *ngFor = "let link of links" [href] = "link.element">
         {{link.title}}
       </a>
  </mat-toolbar>
  <app-header-home id = "ac"></app-header-home>
  <app-mission-home id = "ms"></app-mission-home>
  <app-tarif-view id = "tr"></app-tarif-view>
  <app-service-view id = "sr"></app-service-view>
  <app-footer-home></app-footer-home>
</div>
