
.example-spacer {
  flex: 1 1 auto;
}
a:hover{
  text-decoration: none;
  color: #fff;
}
.brand{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.brand::after{
	content: "DZ";
	color: #FFAB00;
}
.box-shadow{
  position: fixed;
  z-index: 10;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
