<div class="container pt-5">
    <app-page-header [heading]="'Liste des Modeles'" [icon]="'fas fa-car'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                      <div class="col-sm-7">
                        <mat-form-field style="width : 100%">
                          <mat-icon matPrefix>search</mat-icon>
                          <input matInput placeholder="Fabricant..." />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-5" style = "text-align:right">
                        <mat-form-field>
                          <mat-label>Critéres</mat-label>
                          <mat-select matNativeControl required>
                            <mat-option value="volvo">Année</mat-option>
                            <mat-option value="saab">Pays</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <button class="mx-2" mat-raised-button style="background : #FFAB00 ; color : #fff">
                          <mat-icon>print</mat-icon>
                        </button>
                        <button class="mx-2" mat-raised-button (click) = "onCreateVersion()" style="background : #228B22 ; color : #fff">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                  <mat-paginator [length]="listVersions.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                    <table mat-table [dataSource]="listVersions" matSort class="mat-elevation-z8" style="width : 100%">

                      <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef > No. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                      </ng-container>

                      <ng-container matColumnDef="version">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> Options </th>
                        <td mat-cell *matCellDef="let element, let i = index;">
                          <!-- ce affichage est temporaire je vais le modofier -->
                          <mat-form-field>
                            <mat-label><mat-icon>settings</mat-icon> Options disponibles</mat-label>
                            <mat-select>
                              <mat-option *ngFor="let option of element.options, let j = index" [value]="option.value">
                                 {{option.name}}
                                <button class="mx-2" mat-icon-button (click)= "onUpdateOption(i,j)" style = "float:right">
                                  <mat-icon>create</mat-icon>
                                </button>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <button class="mx-2" mat-icon-button (click)= "onCreateOption(i)">
                            <mat-icon>add</mat-icon>
                          </button>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="manipulations">
                        <th mat-header-cell *matHeaderCellDef> Manipulations </th>
                        <td mat-cell *matCellDef="let element, let i = index;">
                          <mat-slide-toggle
                          checked = "true"
                          color = "primary"
                            >
                            Disponible
                          </mat-slide-toggle>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
